@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --node-size: 12vmin;
    --node-color: #F0E7F2;

    --bg-color: #101820;
    --lock-open-color: #222823;
    --lock-color: #575a5e;
    --font-color: #993AAE;

    --grass-color: #348C31;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

body {
    background: var(--bg-color);
    background-size: 150%;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 5vmin;
    color: var(--font-color);

    display: grid;
    place-content: center;
}
viewer {
    position: relative;

    overflow: hidden;
}
#lock {
    width: 10vmin;
    aspect-ratio: 1;
    position: absolute;
    top: 2.5vmin;
    right: 2.5vmin;
    z-index: 9999;
    
    background: var(--lock-color);
    opacity: 0.75;
    border: 0;
    border-radius: 100%;

    font-size: 5vmin;
    color: var(--node-color);
}
#lock[data-active="true"] {
    background: var(--lock-open-color);
}
canvas {
    position: relative;
    z-index: 1000;
    padding: 10px;

    background: var(--bg-color);
    border-radius: 10%;
} 
chunk {
    width: fit-content;
    height: fit-content;
    position: absolute;
    transform: translate(-50%, -50%);

    display: grid;
    gap: 0.4vmin;
}
node {
    width: var(--node-size);
    aspect-ratio: 1;

    background: var(--node-color);
    border-radius: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}
node[data-biome="grass"] {
    background-color: var(--grass-color);
}