@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/*#region Basic*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #2C394B;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
:root {
    --blockSize: 3vmin;
    --chunkNum: 9;
}
/*#endregion Basic*/
#screen {
    width: calc((var(--blockSize) * var(--chunkNum)) + (0vmin * (var(--chunkNum) - 1)));
    height: calc((var(--blockSize) * var(--chunkNum)) + (0vmin * (var(--chunkNum) - 1)));
    display: grid;
    place-items: center;
    grid-template-columns: auto;
}
#position {
    color: #EFF5F5;
    font-family: 'Lilita One', cursive;
    font-size: 4vmin;
    display: flex;
    flex-direction: row;
    gap: 1vmin;
}
#joygame {
    position: absolute;
    width: 40vmin;
    height: 40vmin;
    display: none;
    grid-template-areas: 
    ".. up .."
    "left .. right"
    ".. down .."
    ;
    bottom: 5vmin;
}
@media screen and (max-width: 600px) {
    #joygame {
        display: grid;
    }   
}
.joystick {
    background: #D6E4E5;
    border-radius: 100%;
    color: #082032;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vmin;
}
/*#region block*/
.blocks {
    width: var(--blockSize);
    height: var(--blockSize);
    border-radius: 25%;
    background: #EFF5F5;
}
.player {
    background: #FF0000;
    border-radius: 25%;
}
.grass {
    background: #41980A;
}
/*#endregion block*/