@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --bg-color: #101820;
    --font-color: #993AAE;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-color);
    background-size: 150%;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 5vmin;
    color: var(--font-color);

    display: grid;
    place-content: center;
}